:root {
    --blue-600: #4763ffe7;
    --blue-700:#3553ff; 
    --blue-layer:#2a43cfcb;
    --background: #f3f3fb;
    --radius: 35px;
}
/* ---------------- Heading text ---------------- */   
.heading {
    padding-top:50px;
    color:#253b8d;
    width: 500px;
    margin: auto;
    text-align:center;
    font-size: 45px;
    font-weight: bolder;
}
.heading h1 {
    position: relative;
    display: inline-block;
}
.heading h1::after {
    display: flex;
    content: "";
    position: absolute;
    width: 300%;
    height: 3px;
    left:-90%;
    bottom: -8px;
    background: black;
}

.heading p {
    font-size: 20px;
}
/* ---------------- LAYOUT ---------------- */
.container1 {
    width:67%;;
    margin: 80px auto;
    color: #ffffff;
    display: grid;
    grid-template-columns:  40% 60%;
    gap: 25px;
}

.card1 {
    background: linear-gradient(
        135deg,
        var(--blue-600),
        var(--blue-700)
    );
    color: white;
    border-radius: 25px;
    padding: 50px;
    box-shadow: 0 15px 35px var(--shadow);
    transition: all .5s ease;
    text-align: center;
}
.card1:hover {
    transform: translateY(-5px);
}
.card1 h1{
    text-align: left;
    
}
.card1 h2{
    text-align: left;
    font-size:20px;
    margin-bottom: 20px;
}
.card1 p{
    text-align: left;
    font-size:18px;
}
.card1 a,
.card1 a:visited {
    color: white;
}.card1 a:hover {
    color: rgb(255, 231, 187);
}
.card1.lefttop {
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Left block */

.left {
    grid-row: 1 / span 2;
}

/* Top-right block */

.topright {
    grid-column: 2;
    min-height: 290px;
}

/* Bottom-right block */

.bottomright {
    grid-column: 2;
    min-height: 290px;
}