:root {
    --blue-600: #435ffd;
    --blue-700:#3553ff;
    --blue-layer:#2a43cfcb;
    --white: #ffffff;
    --shadow: rgba(0, 0, 0, 0.15);
}

/* ---------------- MAIN LAYOUT ---------------- */

.top-container {
    width:67%;;
    margin: 30px auto;
    color: #ffffff;
    display: grid;
    grid-template-columns: 100%;
    gap: 25px;
}.niche-container {
    width:67%;;
    margin: 30px auto;
    margin-top: 0px;
    color: #ffffff;
    display: grid;
    grid-template-columns: 67% 33%;
    gap: 25px;
}

/* ---------------- CARDS ---------------- */


.card1 {
    background: linear-gradient(
        135deg,
        var(--blue-600),
        var(--blue-700)
    );
    color: white;
    border-radius: 25px;
    padding: 50px;
    box-shadow: 0 15px 35px var(--shadow);
    transition: all .5s ease;
    text-align: center;
}

.card1:hover {
    transform: translateY(-5px);
}

.card1 h1{
    text-align: left;
}
.card1 h2{
    text-align: left;
    font-size:25px;
    margin-bottom: 20px;
}

.card1 p{
    text-align: left;
    font-size:18px;
}

.card1 a,
.card1 a:visited {
    color: white;
    font-size: 20px;
}.card1 a:hover {
    color: rgb(255, 231, 187);
    font-size: 20px;
}
/* ---------------- lefttop card ---------------- */
.card1.lefttop {
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card1.lefttop::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--blue-layer);
    z-index: 1;
}

.card1.lefttop * {
    position: relative;
    z-index: 2;
}


/* ---------------- right card ---------------- */
.card1.right {
    grid-row: span 2;
    min-height: 830px;
    overflow-y: auto;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card1.right::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--blue-layer);
    z-index: 1;
}

.card1.right * {
    position: relative;
    z-index: 2;
}

/* ---------------- leftbottom card ---------------- */
.leftbottom {
    overflow: auto;
    min-height: 290px;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.card1.leftbottom::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--blue-layer);
    z-index: 1;
}

.card1.leftbottom * {
    position: relative;
    z-index: 2;
}

.heading {
    padding-top:50px;
    color:#253b8d;
    width: 67%;
    margin: auto;
    text-align:left;
    font-size: 45px;
    font-weight: bolder;
}

.heading h1 {
    position: relative;
    display: inline-block;
    text-decoration: underline;
    text-underline-offset: 10px;
}
/* ---------------- Show more ---------------- */
.show-more-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
}

.card1.show .show-more-content {
    max-height: 500px;
}

.show-more {
    display: block;
    border: none;
    border-radius: 15px;
    padding: 5px 10px;
    text-align: left;
}