main {
  height: calc(100vh - 5em);
  width: 100vw;
  margin: 0 !important;
}
input[type="checkbox"]:checked + .text-decoration-line-through-checked {
  text-decoration: line-through;
}
.remove-task:hover {
  background-color: lightcoral;
  border-radius: 50%;
  cursor: pointer;
  color: white;
  transition: all 500ms;
}
#timerDisplayMobile {
  position: absolute;
  top: 0;
  display: none;
  background-color: transparent;
}

@media (max-width: 991px) {
  #timerDisplayMobile {
    display: block;
  }
}

#audio {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
  justify-content: center;
  width: 2em;
  aspect-ratio: 1;
}

#toggle-trigger {
  position: absolute;
  inset: 0;
  z-index: 3;
  appearance: none;
}

#audio i {
  position: absolute;
  /* inset: 0; */
}

#mute {
  display: block;
}

#up {
  display: none;
}

#toggle-trigger:checked {
  + #mute {
    display: none;
    + #up {
      display: block;
    }
  }
}
